<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/custom.min.css" />
    <title>Diagnosis</title>
  </head>
  <body>
    <section
      class="section container d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="hero-text text-success">
        Congratulations <i class="fa-solid fa-handshake-simple"></i>
      </h1>
      <h1 class="hero-title text-success">
        You have been diagnosed with no Lung Cancer.
      </h1>

      <p class="text-secondary">
        The algorithm has diagnosed you with no Lung Cancer based on your
        inputs. However it might be better to talk to a doctor regardless.
      </p>
    </section>

    <!-- icons script -->
    <script
      src="https://kit.fontawesome.com/b15af52e57.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
